CDK_DEFAULT_ACCOUNT=
LOOP_AD_PUBLIC_DOMAIN_NAME=loop-ad.org
LOOP_AD_PUBLIC_HOSTED_ZONE_ID=
LOOP_AD_FRONTEND_SITES_CERTIFICATE_ARN=
LOOP_AD_GENAI_GENERATED_ASSETS_CERTIFICATE_ARN=
LOOP_AD_OPENAI_API_KEY=
LOOP_AD_KAFKA_SCRAM_BROKER_SECRET_ARN=
LOOP_AD_KAFKA_SCRAM_APP_SECRET_ARN=
LOOP_AD_CLICKHOUSE_CREDENTIALS_SECRET_ARN=
