CDK_DEFAULT_ACCOUNT=123456789012
LOOP_AD_REGION=ap-northeast-2
LOOP_AD_PUBLIC_DOMAIN_NAME=loop-ad.org
LOOP_AD_PUBLIC_HOSTED_ZONE_ID=
LOOP_AD_FRONTEND_SITES_CERTIFICATE_ARN=
LOOP_AD_GENAI_GENERATED_ASSETS_CERTIFICATE_ARN=
LOOP_AD_SECRET_PREFIX=/loop-ad/dev
LOOP_AD_DEVELOPER_IPV4_CIDRS=
LOOP_AD_DEVELOPER_IPV6_CIDRS=
